<!-- Citation for this file:
// Date: 2/18/2024
// URL: https://github.com/osu-cs340-ecampus/nodejs-starter-app/tree/main/Step%200%20-%20Setting%20Up%20Node.js
// Application: Visual Studio Code, version 1.85.1 
// Type: starter/example code provided by Dr. Michael Curry, starter/example code is filled in/modified by Jason Szeto
// Author(s): Dr. Michael Curry, Jason Szeto
// Code version: N/A -->

<!-- drivers_rentals.hbs -->
{{!-- Create a table --}}
<h2>Table of DriversRentals</h2>
<table id="driversrentals-table">

    {{!-- Header section --}}
    <thead>
        <tr>
            <!-- Modify column names to display -->
            <th>Driver and Rental ID</th>
            <th>Driver ID</th>
            <th>Rental ID</th>
        </tr>
    </thead>

    {{!-- Body section --}}
    <tbody>
        {{!-- For each row, print the SQL data in order --}}
        {{#each data}}
        <tr data-value={{this.driversIDRentalsID}}>
            <td>{{this.driversIDRentalsID}}</td>
            <td>{{this.driverID}}</td>
            <td>{{this.rentalID}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>

{{!-- Form to add a record to the table  --}}
<h2>Add a New Driver Rental</h2>
<form id="add-driver-rental-form-ajax">  
    <label for="input-driverid">Driver ID: </label>
    <input type="number" name="input-driverid" id="input-driverid" placeholder="required">

    <label for="input-rentalID">Rental ID: </label>
    <input type="number" name="input-rentalID" id="input-rentalID" placeholder="required">

    <input type="submit">
</form>
{{!-- Embed our javascript to handle the DOM manipulation and AJAX request --}}
<script src="./js/add_driver_rental.js"></script>

