<!-- Citation for this file:
// Date: 2/18/2024
// URL: https://github.com/osu-cs340-ecampus/nodejs-starter-app/tree/main/Step%200%20-%20Setting%20Up%20Node.js
// Application: Visual Studio Code, version 1.85.1 
// Type: starter/example code provided by Dr. Michael Curry, starter/example code is filled in/modified by Jason Szeto
// Author(s): Dr. Michael Curry, Jason Szeto
// Code version: N/A -->

<!-- main.hbs-->

<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>LJ Rent-a-Car</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <script src='main.js'></script>
</head>
<body>
    <header>
        <h1>
            LJ Rent-a-Car
        </h1>
            <p>Serving our customers since 2024!</p>
    </header>
    <nav>
        <a href="/">View Drivers</a>
        <a href="/driversrentals">View DriversRentals</a>
        <a href="/rentals">View Rentals</a>
        <a href="/vehicles">View Vehicles</a>
        <a href="/locations">View Locations</a>
        <a href="/makes">View Makes</a>
        <a href="/models">View Models</a>        

        <!-- Add more navigation links as needed -->
    </nav>
    {{{body}}}
</body>
</html>